<div class="navigationbar">
  <%= link_to 'Return to Shelters Index', "/shelters" %>&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to 'Return to Pets Index', "/pets" %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "View All Pets in #{@shelter.name}", "/shelters/#{@shelter.id}/pets" %>
</div>

<h1><%= @shelter.name %></h1>
<div class="edit-buttons">
  <button><%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %></button>
  <button><%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %></button>
</div>

<section class="show">
  <p><%= @shelter.address %></p>
  <p><%= @shelter.city %>&nbsp;,&nbsp;<%= @shelter.state %>&nbsp;<%= @shelter.zip %></p>
</section>
