<h1><%= @shelter.name %></h1>
<div class="edit-buttons">
  <button><%= link_to "View All Pets in #{@shelter.name}", "/shelters/#{@shelter.id}/pets" %></button>
  <button><%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %></button>
  <button><%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %></button>
  <button><%= link_to 'Add review for this shelter', "/shelters/#{@shelter.id}/new_review" %></button>
</div>

<section class="show">
  <p><%= @shelter.address %></p>
  <p><%= @shelter.city %><%= @shelter.state %><%= @shelter.zip %></p>
</section>

<h2> Reviews </h2>
<section class="review">
  <% @shelter.reviews.each do |review|%>
  <section class="review-<%= review.id %>">
    <h3><%= review.title %></h3>
    <p>Rating: <%= review.rating %></p>
    <p>Content: <%= review.content %></p>
    <button><%=link_to 'Edit review', "/shelters/#{review.shelter_id}/#{review.id}/edit" %></button>
    <button><%=link_to 'Delete review', "/shelters/#{review.shelter_id}/#{review.id}", method: :delete%></button>
  </section>

  <% end %>
</section>
