<h1><%= @pet.name %></h1>

<div class="pets">
<section class="pets-<%= @pet.id %>">
  <% if favorite.contents[@pet.id.to_s].nil? %>
    <button><%= link_to 'Favorite', "/favorites/#{@pet.id}", method: :patch %></button>
  <% else %>
    <button><%= link_to 'Remove', "/favorites/#{@pet.id}", method: :delete %></button>
  <% end %>
  <button><%= link_to "View All Applicants", "/pets/#{@pet.id}/applications" %></button>
  <button><%= link_to 'Update Pet', "/pets/#{@pet.id}/edit" %></button>
  <button><%= link_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete %></button>
</section>
</div>

<section class="show">
  <p><img src="<%= @pet.image %>"</img></p>
  <p>Description:<%= @pet.description %></p>
  <p>Approximate Age:<%= @pet.approximate_age %></p>
  <p>Sex:<%= @pet.sex %></p>
  <p>Status:<span id="status"><%= @pet.status %></span></p>
</section>

<% if @pet.status == "pending" %>
  <% @pet.applications.each do |application| %>
    <p>On hold for: <%= link_to "#{application.name}", "applications/application.id", method: :get%></p>
  <% end %>
<% end %>
