<div class="navigationbar">
  <%= link_to 'Return to Pets Index', "/pets" %>&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Return to Shelters Index', "/shelters" %>
</div>

<h1> Write a New Review </h1>

<section class="form">
  <%= form_tag("/shelters/#{@shelter_id}", method: :post) do %>
    <p>Enter the information for a new review.</p>
    <%= label_tag "Title" %>
    <%= text_field_tag :title %><br/>
    <%= label_tag "Rating" %>
    <%= number_field_tag :rating %><br/>
    <%= label_tag "Content" %>
    <%= text_field_tag :content %><br/>
    <%= label_tag "Image" %>
    <%= text_field_tag :image %><br/>

    <%= submit_tag 'Submit' %>
    <% flash.each do |type, message| %>
      <%= message%>
    <% end %>

  <% end %>
</section>
