<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <ul class='navbar'>
      <li><%= link_to 'Return to Shelters Index', "/shelters"%></li>
      <li><%= link_to 'Return to Pets Index', "/pets" %></li>
      <p class="favorite"><%= link_to "Favorites: #{favorite.total_count}", "/favorites" %></p>
      </ul>
    <nav>

    <% flash.each do |type, message| %>
      <%= message%>
    <% end %>

    <%= yield %>
  </body>
</html>
